bin/
build/
code/
lib/
target/
frontend/node/
frontend/node_modules/
frontend/dist/

*.sw?
.#*
*#
*~
*.iml
.*.md.html
.classpath
.idea
.gradle
.project
.settings
.springBeans
build.log
spring-shell.log
MANIFEST.MF
settings.xml

