<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book form add -->
<form id="add-new-book-form" action="add_book_form.html" th:action="@{/books}" method="post">
    <h1>Type Book Info:</h1>

    <div class="row">
        <span>
            <input type="text" name="title" placeholder="Title" size="30"/>
        </span>
        <span>
            <input type="text" name="authors" placeholder="Authors" size="30"/>
        </span>
        <span>
            <input type="text" name="genre" placeholder="Genre" size="30"/>
        </span>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
