<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add comment</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Comment form add -->
<form id="add-new-comment-form" action="add_comment_form.html" th:action="@{/comments}" method="post">
    <h1>Type Your Comment:</h1>

    <div class="row">
        <span>
            <input type="text" name="description" placeholder="Comment description" size="140"/>
        </span>
    </div>

    <div class="row">
        <button type="submit">Submit</button>
    </div>
</form>

</body>
</html>
