<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all comments</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>

<!--<a href="add_book_form.html" th:href="@{/bookAddForm}">Add New Book</a>-->

<h1>Comments:</h1>

<table class="books">
    <thead>
    <p th:text="${id}">id book</p>
    <tr>
        <th>ID</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.id}">
            1
        </td>
        <td th:text="${comment.description}">
            Good book
        </td>
    </tr>
    </tbody>
</table>

<!-- Comment form add -->
<form id="add-new-comment-form" action="comments.html" th:action="@{'/books/'+ ${id} + '/comments'}" method="post">
    <h1>Type Your Comment:</h1>

    <div class="row">
        <span>
            <input type="text" name="description" placeholder="Comment description" size="140"/>
        </span>
    </div>

    <div class="row">
        <button type="submit">Submit</button>
    </div>
</form>

</body>
</html>
