<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>

    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/ready.js}"></script>
    <script type="text/javascript" th:src="@{js/getAllBooks.js}"></script>
    <script type="text/javascript" th:src="@{js/getBook.js}"></script>
    <script type="text/javascript" th:src="@{js/deleteBook.js}"></script>

</head>
<body>
<div class="content"></div>
</body>
</html>